:host >>>  .ui-card-body{
height:15em;
width:100%;
padding-top:1.5em;
padding-left:1.5em;
padding-bottom: 0.2em;
}
:host >>>  .ui-corner-all{
    border-radius:10px;
}
.poster{
    background-image: url("http://image.tmdb.org/t/p/w154/bURIWlkMbzT8RdpemzCmQECo2Uh.jpg");
    background-repeat: no-repeat;
    background-size: 8em 12em;
    padding: 0;
    width:50em;
    height:12em;
    border-radius:5px;
}
:host >>>  .ui-card-content{
    margin-bottom: 0em;
}
:host >>>  .ui-card-footer{
    height:0em;
}