<div style="height:100%;padding-top: 0.5em;">
<p-menubar [model]="items">
    <div style="height:100%;padding-top: 0.25em;padding-left: 5em;">
        <input type="text" pInputText placeholder="Search Movies or Theatres" style="width: 15em;">
        <button pButton label="Log In" (click)="showDialog('login')" icon="fa fa-sign-out" style="width: 7.5em;margin-left:.25em;"></button>
        <button pButton label="Sign Up" (click)="showDialog('signup')" icon="fa fa-sign-out" style="width: 7.5em;margin-left:.25em;"></button>
    </div>
</p-menubar>
</div>
<p-dialog header="Log In" [(visible)]="displayLogin" [modal]=true  [width]="350" [minWidth]="200" [minY]="70">
    <app-signin></app-signin>
</p-dialog>
<p-dialog header="Sign Up" [(visible)]="displaySignup" [modal]=true [width]="350" [minWidth]="200" [minY]="70"  >
    <app-signup></app-signup>
</p-dialog>